html, body {
  background: #CCCCCC;
  //background: white;
}

.card {
  //position: relative;
  width: 100%;
  border: none !important;
}

.card-deck {
  width: 100%;
  border: black;
}

.card-group {
  margin-top: 0px;
  margin-bottom: 0%;
}

.card-img-top {
  display: block;
  width: 100%;
  height: auto;
}

.headerText {
  color: #fff;
  font-size: 30px;
  line-height: 1.5em;
  //text-shadow: 2px 2px 2px #000;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.container {
  color: black;
}

.stat {
  background-color: #95E1D4;
  height: 150px;
  text-align: center;
  color: white;
}

.border {
  border: 1
}

.navbar {
  //text-align: center;
  //position: relative;
  left: 15%;
  width: 70%;
}

.slider-color {
  background-color: #CCCCCC;
}

.bx-wrapper {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 0;
}


.aboutUs {
  text-align: center;
  padding: 40px;
  border: none;
  border-radius: 0px;
  background: transparent;
  left: 20%;
  width: 60%;
}

.center-content {
  width: 700px;
  margin: auto;
  padding: 40px;
}

.center-content-acc {
  width: 60%;
  margin: auto;
}

.workWith {
  //top: 50%;
  left: 20%;
  //transform: translate(-50%, -20%);
  height: 20px;
  width: 80%;
}

.accordian-row {
  //position: absolute;
  left: 20%;
  width: 60%;
}

.accordian-card {
  margin-top: none;
  margin-bottom: none;
  padding-top: none;
  padding-bottom: none;
}

.padd {
  //position: relative;
  width: 50%;
  max-height: 50%;

}

.card-padd {
  padding-top: 10px;
  background-color: #DCDCDC;
}

.client-bg-color {
  background-color: #DCDCDC;
}

.barber-card {
  //width: 100%;
  background-color: #DCDCDC;
  height: 150px;
}

.resize-team {
 max-width: 200px;
 margin-left:10px;
 margin-right:10px;
}

#aboutUs {
  text-align: center;
  padding: 40px;
  border: none;
  border-radius: 0px;
  background: transparent;
  left: 20%;
  width: 60%;
}

#workRow {
  left:20%;
  width:60%;
}

.ipad-vertical {
  max-width: 300px;
}

.bxslider {
  border: none;
}

.gallery-resize {
  width: 112%;
}

.clients-padd {
  //margin-top: 200px;
  padding-top: 5%;
}

.clients-text{
  vertical-align: middle;
  float: right;
  max-width: 300px;
}

.header-creative-text {
  font-family: 'Kaushan Script', cursive;
}
.header-welcome-text {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  font-size: 70px;
}

.creative{
  font-family: 'Kaushan Script', cursive;
}
.mont{
  font-family: 'Montserat', sans-serif;
  margin-bottom: -10px;
}
.line{
  font-family: 'Montserat', sans-serif;
  padding-top: -20px;
  font-size: 30px;
  font-weight: 900;
  color:#F38181;
}